*{ padding: 0;
    margin: 0;
}
@font-face {
    font-family:'Galindo';
    src: url(fonts/Galindo/Galindo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Galdeano';
    src: url(fonts/Galdeano/Galdeano-Regular.ttf) format('truetype');
}
html body{
    background-color: #0A594B;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rest body{
    background-color: #0A594B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home{
    background-color: #F59846;
    overflow: hidden;
    min-height: 100vh;
}

/* tekst */
h1{
    color: #0A594B;
    font-family: 'Galindo', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

blockquote{
    color: #202020;
    font-family: 'Galindo', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
p:first-child{
    font-family: 'Galindo', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: right;
    color: #202020;

}
p{
    font-family: 'Galdeano', Arial, Helvetica, sans-serif ;
    color: #D9D9D9;
    font-size: 1em;
}
main>p{
    color: #202020;
}

/* logo */
header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 0.4em;
    position: relative; /* align */
    z-index: 3;
}
.logo{
    height: 12em;
}

/* main */
.home main{
    background-color: #D9D9D9;
    display: flex; 
    flex-direction: column;
    gap: 1em;
    border: 0.5em solid #F59846;
    padding: 1em 2em;
    margin-top: -4em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

article section:first-child {
    background-color: #D9D9D9;
    display: flex; 
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin-top: -1.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

main section{
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    margin-top: 1em;
    gap:1em;
}

.rest main {
    flex: 1;
    position: relative;
    z-index: 1;
    padding-bottom: 5em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 2;
}
/* section div before after */

span{
    color: #F5E831;
}

/* footer */
footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    list-style: none;
}
.home-nav{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 0.5em;

}
footer li a{ 
    color: #D9D9D9;
    background-color: #0A594B;
    text-decoration: none;
    text-wrap: nowrap;
}
footer div{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5em;
}
.home-nav div{
    padding-left: 3em;
}
.nav-rest{
    display: flex;
    justify-content: center;
    padding-top: 0.3em;
    margin: 2em 1em 1em 1em;
    background-color: #D9D9D9;
}

footer img{
    height: 3em;
}

.home-nav ul{
    display: flex;
    justify-content: space-around;
    gap: 3.5em;
    padding: 0em 2em;
    margin-top: -0.5em;
}


/* tijdlijn */
article{
    display: flex;
    flex-direction: column;
    background-color: #0A594B;
    height: 50%;
}

    /* img&text*/

main img{
    max-height: 8em;
    max-width: 8em;
}

section div{
    display: flex;
    justify-content: space-around;
    gap:0.5em;
}
